//- ======================
//- Footer start
//- ======================
footer#footer.footer
  .container
    a(href='#')
      img(src='https://via.placeholder.com/150x60', alt='Logo', title='Logo')
    small ©2018 xxooxx All Rights Reserved.
